.result{
    width: 460px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;

    &__title{
        margin-bottom: 50px;
        color: #333333;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }

    &__image_success{
        background-image: url(../../assets/icons/successIcon.png);
        width: 80px;
        height: 80px;
        margin-bottom: 48px;
    }
    

    &__image_failed{
        background-image: url(../../assets/icons/ErrorIcon.png);
        width: 80px;
        height: 80px;
        margin-bottom: 48px;
    }
}